*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background: linear-gradient(135deg,#141E30,#243B55);
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:rgba(0,0,0,0.4);
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:100px 20px;
background:linear-gradient(120deg,#667eea,#764ba2);
}

.btn{
margin-top:20px;
padding:10px 25px;
border:none;
background:#00e5ff;
cursor:pointer;
}

.container{
display:flex;
gap:20px;
padding:40px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:rgba(255,255,255,0.1);
padding:20px;
width:200px;
text-align:center;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

footer{
text-align:center;
padding:20px;
background:black;
}